.date-time-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: darkslategray;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.date {
  text-align: left;
}

.time {
  text-align: right;
}
